@model IEnumerable<CanTeenVL.Models.STATUS_BILL>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <!-- /.card-header -->
    <div class="card-body">
        <h2 style="text-align:center">List Status</h2>
        <a href="@Url.Action("Create","StatusBill")" class="btn btn-primary col-1">Create New</a>
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NAME)
                        </td>
                        <td>
                            <a href=@Url.Action("Edit", new { item.ID})>
                                <i class="fas fa-edit" style="width:20px"></i>
                            </a>
                            <a href=@Url.Action("Delete", new { item.ID})>
                                |
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
